@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222; /* Darker background */
    color: #e0e0e0; /* Softer text color */
    margin: 20px;
    font-family: "Golos Text", sans-serif;
}

h1 {
    margin-bottom: 20px;
    color: #ff6f61; /* Softer brown tone */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 25px;
}

.red-label {
    color: #ff4d4d;
}

.block {
    background-color: #ffcc80; /* Light orange */
    padding: 30px; /* Larger padding */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.logout-button {
    margin-left: auto;
    padding: 12px 25px;
    background-color: #e57373; /* Softer red */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.logout-button:active {
    background-color: #b71c1c;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ffe0b2; /* Softer orange */
    padding: 30px; /* Larger padding */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 350px; /* Larger width */
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #444; /* Darker header */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4caf50; /* Soft green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Larger font size */
}

button[type="submit"]:hover {
    background-color: #388e3c; /* Darker green on hover */
}

.error-message {
    color: #e57373;
    margin-top: 10px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}
